* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #f5f7fa;
}

/* Navbar */

.navbar {
  background: #311e3b;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
.hero {
  text-align: center;
  padding: 80px 20px;
  background: #e2e8f0;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.about {
  padding: 60px;
  text-align: center;
  background: #ffffff;
}
.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-bar:focus {
  outline: none;
  border-color: #2563eb;
}
.matatu-section {
  padding: 60px 40px;
}

.matatu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
}

.matatu-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.contact {
  text-align: center;
  padding: 60px;
  background: #e2e8f0;
}

.contact button {
  padding: 10px 20px;
  background: #311e3b;
  color: white;
  border: none;
  border-radius: 5px;
}
.footer {
  background: #311e3b;
  color: white;
  text-align: center;
  padding: 20px;
}